body {
  background-image: url("https://as2.ftcdn.net/v2/jpg/02/24/71/47/1000_F_224714741_WVkjdAp3YeNoobaZtd3gCl6c16U35ABR.jpg");
  background-color: cornflowerblue;
	/* Use a system font, if none are available use an available sans-sarif   font */
	font-family: 'Chicle', cursive; 
  /* "Helvetica Neue", sans-serif; */
	margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

section.board {
  display: grid;
  grid-template-rows: repeat(3, 10vmin);
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 0vmin;
}

div {
  border: 3px solid black;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
  background-color:blanchedalmond;
}

button {
  width: 150px;
  margin: 30px;
  font-family: 'Chicle', cursive; 
}

h1, h2 {
  color: blanchedalmond;
}

h2 {
  background-color: cornflowerblue;
}