html, body {
  display: flex;
  justify-content: center;
  height: 100%;
}

body {
  background-image: url("https://as2.ftcdn.net/v2/jpg/02/24/71/47/1000_F_224714741_WVkjdAp3YeNoobaZtd3gCl6c16U35ABR.jpg");
  background-color: cornflowerblue;
	font-family: 'Chicle', cursive; 
  /* "Helvetica Neue", sans-serif; */
	margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(0, 0, 0, 0);
  border: rgb(0, 0, 0, 0);
}

section.board {
  display: grid;
  grid-template-rows: repeat(3, 10vmin);
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 0vmin;
  box-shadow: 5px 5px 2px;
}

div {
  border: 3px solid black;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
  background-color:blanchedalmond;
}

button {
  width: 150px;
  margin: 30px;
  font-family: 'Chicle', cursive; 
  font-size: 30px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
}

h1, h2 {
  background-color: cornflowerblue;
  color: blanchedalmond;
  border: solid darkblue 2px;
}

h1 {
  font-size: 100px;
  padding: 18px 25px;
  margin: 25px 0;
  border-radius: 20px;
  box-shadow: 10px 10px 5px darkblue;
}

h2 {
  font-size: 40px;
  padding: 13px 18px;
  margin: 0 0 30px 0;
  border-radius: 15px;
  box-shadow: 7px 7px 3px darkblue;
}

.sqr:hover {
  background-color: burlywood;
}